*{
    margin: 0;
    box-sizing: border-box;
}

.nav{

    box-shadow: 0 2px 22px 0 rgba(174, 173, 173, 0.2);
    background-color: white;
}
.logo{
    width: 50px;
    height: 30px;
    margin-left: 5rem;
    margin: 0.7rem 0rem 0.7rem 5rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


    position: sticky;
    top: 0;
  }

  li {
    float: left;
  }
  .nav .name{
     margin-top: 5px;
  }

  li a {
    display: block;
    color: #2B7EC1;
    text-align: center;
    padding: 15px 6px;
    text-decoration: none;
    font-size: 16px;
  }

  li a:hover {
    color: #111;
  }
  .right-nav{
      float: right;
  }
  .left-{
      color: black;
  }


body
{
    margin: 0;
    padding: 0;
    background-color:#F3F8FE;
    font-family: 'Arial';
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
        width: 30%;
        overflow: hidden;

        margin: auto;
        margin: 3rem;
        /* margin: 20 0 0 450px;   */
        padding: 80px;
        background: #ffffff;
        display: flex;
        border-radius: 15px ;
        justify-content: center;
        align-items: center;
        height: 500px;
        /* border: 1px solid black; */
        box-shadow: 0 2px 22px 0 rgba(174, 173, 173, 0.2);


}
h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}

#Uname{
    width: 300px;
    height: 38px;

    border: 1px solid #C7DCEE;
    border-radius: 8px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 38px;
    border: 1px solid #C7DCEE;
    border-radius: 8px;
    padding-left: 8px;

}
#log{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 7px;
    color: white;
    background-color: #0575E6;
   margin-left: 4rem;
   margin-top: 1rem;


}
span{
    color: blue;
    font-size: 13px;
    margin-left: 9rem;
}
.connect{
    margin-top: 2rem;
    color: grey;
    display: flex;
    flex-direction: row;
}

.conect p{
    color: black;
    padding: 15px;
}
.line{
    border-top: 1px solid blue;
    width: 30%;
     margin: auto;
     margin-top: 4%;
    margin-bottom: 2%;

      border-color: blue;
    }

    .btns{
        margin: 1rem 2rem;
    }
    .btn{
        /* margin-left: 2px;
       padding: 6px; */
       border: none;
       color: black;
       padding: 1px 16px;
       font-size: 16px;
       cursor: pointer;

    }

    .btn img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .btn {

        border: none;
        color: black;
        padding: 12px 16px;
        font-size: 16px;
        cursor: pointer;
      }

      .btn i{
          color: blue;
          font-weight: 105px;
          padding: 2px 2px;


      }
      *{
        margin: 0;
        box-sizing: border-box;
    }

    .nav{

        box-shadow: 0 2px 22px 0 rgba(174, 173, 173, 0.2);
        background-color: white;
    }
    .logo{
        width: 50px;
        height: 30px;
        margin-left: 5rem;
        margin: 0.7rem 0rem 0.7rem 5rem;
    }
    .nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;


        position: sticky;
        top: 0;
      }

      .nav li {
        float: left;
      }
      .nav .name{
         margin-top: 5px;
      }

      .nav li a {
        display: block;
        color: #088178;
        text-align: center;
        padding: 15px 6px;
        text-decoration: none;
        font-size: 16px;
      }

      .nav li a:hover {
        color: #111;
      }
      .right-nav{
          float: right;
      }
      .left-{
          color: black;
      }

      .main{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login{
            width: 30%;
            overflow: hidden;

            margin-top: 3rem;

            padding: 20px;
            background: #ffffff;
            display: flex;
            border-radius: 15px ;
            justify-content: center;
             /* align-items: center;  */
            height: 560px;
            /* border: 1px solid black; */
            box-shadow: 0 2px 32px 0 rgba(174, 173, 173, 0.2);


    }
    h2{
        text-align: center;
        color: #4292a0;
        padding: 20px;
    }

    div{
      margin-top: 0.5rem;
    }
    .f1{
      display: flex;
      width: 100%;


    }
    .labelname{
      width: 100%;
    }
    .box{
      width: 48%;
      display: inline-block;
      /* display: flex;
      flex-direction: row;
      margin-top: 20px;
    } */
    }

    .boxlname {
      margin-left: 0.6rem;
      width: 48%;
    }

    /* #lname{
      margin-left: 1rem;
    } */

    /* .boxfname{
      display: flex;
      flex-direction: column;
    } */

    /* .boxlname{
      margin-left: 0.6rem;
      width: 48%;
    } */




    input[type=text], input[type=password] {
    width: 95%;
    padding: 10px;
    margin: 5px 0 7px 0;
    display: inline-block;
    border: 1px solid #2B7EC1;
     background-color: #ffffff;
     border-radius: 6px;
     color: grey;
     font-size: 12px;
    }

    input[type=text]:focus, input[type=password]:focus {
    background-color: #F8F9F9;
    outline: none;
    }

    textarea{
      border-radius: 6px;

    border: 1px solid #2B7EC1;

    }

    .textbox{
      height: 120px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #2B7EC1;
      padding: 5px;
      font-size: 15px;

    }

    .textbox .blue{
      color: #2B7EC1;
      font-size: 15px;
    }
     .textbox .red{
      color:red;
    }


    #log{
      width: 150px;
      height: 30px;
      border: none;
      border-radius: 2px;
      padding-left: 7px;
      color: white;
      background-color:#088178;
     margin-left: 4rem;
     margin-top: 2.5rem;


    }

    .line{
        border-top: 1px solid blue;
        width: 30%;
         margin: auto;
         margin-top: 4%;
        margin-bottom: 2%;

          border-color: #088178;
        }

        .connect{
          margin-top: 0.2rem;
          color: grey;
          display: flex;
          flex-direction: row;
      }

      .conect p{
          color: #088178;
          padding: 15px;
      }
      .line{
          border-top: 1px solid #088178;
          width: 30%;
           margin: auto;
           margin-top: 4%;
          margin-bottom: 2%;

            border-color: #088178;
          }

          .error{
            color: red;
            font-size: 14px;
            margin-left: 1rem;

            display: block;

          }






